<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClIvJfi3GVqbyqvzs0t7NxcxhLRhuABvo</string>
	<key>GCM_SENDER_ID</key>
	<string>105481139375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SynergyLabs.vendordash</string>
	<key>PROJECT_ID</key>
	<string>be-healthy-6gl9ay</string>
	<key>STORAGE_BUCKET</key>
	<string>be-healthy-6gl9ay.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105481139375:ios:c52614f72078fffd1fd05a</string>
</dict>
</plist>